<ul>
<% @project.tasks.each do |t| %>
    <li><%= t.content%></li>
    <p><%= link_to "Delete Task", project_task_path(@project, t.id) , method:"delete",  data: { confirm: "You want to delete this task?" } %></p>

    <% end %>
    </ul>