

Welcome ! <%= @user.first_name %> <%= @user.last_name %>

<% if @user.admin %>
<p>You are Owner</p>
<% end %>
<p>
<%= link_to "Edit Profile", edit_user_path(@user) %>
</p>

<h4 class="todo_list_title">
<%= link_to "#{@user.first_name} Tasks List", user_tasks_path(@user)%> 
</h4>
